mixin plan(title, price, img, desc, sub_desc, link, other_text, tooltip)
  .card.plan-card
    div
      if tooltip === true
        .tip.card-tip
          span Most popular plan among iPhone 7 users
      .plan-header
        .plan-title
          div.h4=title
          span.fnt-sm.text-accent=price
        .plan-thumb
          img.plan-thumb__img(src=img, alt="plan icon")
      .plan-body
        ul.list.list--bordered
          li=desc
          li=sub_desc
          if other_text !== ""
            li=other_text
    .plan-footer
      a(href="javascript:void(0)").link=link